@import url(./__item/photo-grid__item.css);

.photo-grid {
  width: calc(100% - 96px);
  margin: 0 auto;
  display: grid;
  justify-content: center;
  /*Юля(Yuliya Nikul), если ты будешь проверять мою работу, поясни, почему ты в minmax ставишь 288рх, если на макете в этом блоке самая маленькая картинка 284рх?
  288картинка*4 + 16gap*3 + 48отсупы*2 = 1296 ведь, а нам надо максимум 1280*/
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  margin-bottom: 92px;
}

@media (max-width: 1279px) {
  .photo-grid {
    gap: 14px;
  }
}

@media (max-width: 1023px) {
  .photo-grid {
    gap: 16px;
  }
}

@media (max-width: 979px) {
  .photo-grid {
    width: calc(100% - 48px);
    margin-bottom: 88px;
  }
}

@media (max-width: 479px) {
  .photo-grid {
    width: calc(100% - 32px);
    margin-bottom: 64px;
  }
}
