.lang__link {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  line-height: 28px;
}

.lang__link:hover {
  opacity: .8;
  transition: opacity .5s ease;
}

@media (max-width: 767px) {
  .lang__link {
    font-size: 22px;
    line-height: 26px;
  }
}

@media (max-width: 479px) {
  .lang__link {
    font-size: 18px;
    line-height: 24px;
  }
}
