.intro__list {
  padding: 0;
  list-style: none;
  margin-bottom: 92px;
}

@media (max-width: 979px) {
  .intro__list {
    margin-bottom: 88px;
  }
}

@media (max-width: 767px) {
  .intro__list {
    margin-bottom: 75px;
  }
}

@media (max-width: 479px) {
  .intro__list {
    margin-bottom: 64px;
  }
}
