.place__text {
  max-width: 484px;
}

@media (min-width: 768px) and (max-width: 979px) {
  .place__text {
    max-width: 607px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .place__text {
    max-width: 729px;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .place__text {
    max-width: 448px;
    padding: 0 16px;
  }
}
