.cover__info_subtitle {
  max-width: 360px;
  font-size: 18px;
  line-height: 22px;
  margin: 0 auto;
  text-align: center;
  z-index: 2;
}

@media (min-width: 480px) and (max-width: 767px) {
  .cover__info_subtitle {
    max-width: 360px;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .cover__info_subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
  }
}
