.menu__item:not(:last-child) {
  margin-right: 18px;
}

@media (max-width: 767px) {
  .menu__item:not(:last-child) {
    margin-right: 18px;
  }
}

@media (max-width: 479px) {
  .menu__item {
    margin-bottom: 32px;
  }

  .menu__item:not(:last-child) {
    margin-bottom: 48px;
  }
}
