.place__website_url-heading {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  color: #aaa;
  margin: 0;
  margin-bottom: 12px;
}

@media (min-width: 480px) and (max-width: 767px) {
  .place__website_url-heading {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .place__website_url-heading {
    display: none;
  }
}
