@import url(./__link/cover__link.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);

.cover {
  position: relative;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1184px;
  max-height: 740px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 92px;
}

.cover:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color:rgba(42, 44, 47, .3);
  z-index: 2;
  margin: 0;
  padding: 0;
}

@media (max-width: 1279px) {
    .cover {
     width: 1024px;
     height: 640px;
   }
   }

   @media (max-width: 979px) {
    .cover {
      width: 768px;
      height: 480px;
      margin-bottom: 88px;
    }
  }

  @media (max-width: 767px) {
    .cover {
      margin-bottom: 70px;
      width: 480px;
      height: 300px;
    }
  }

  @media (max-width: 479px) {
    .cover {
      margin-bottom: 64px;
      width: 320px;
      height: 200px;
    }
  }
