.lead__text {
  margin-top: 8px;
  margin-bottom: 92px;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

@media (max-width: 979px) {
  .lead__text {
    padding-left: 24px;
    margin-bottom: 88px;
  }
}

@media (max-width: 767px) {
  .lead__text {
    margin-bottom: 70px;
  }
}

@media (max-width: 479px) {
  .lead__text {
    padding-left: 16px;
    margin-bottom: 64px;
  }
}
