@import url(./__copyright/footer__copyright.css);

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0 48px 24px 48px;
}

@media (max-width: 979px) {
  .footer {
    padding: 0 24px 24px 24px;
  }
}

@media (max-width: 767px) {
  .footer {
    flex-direction: column;
    padding: 0 48px 24px 48px;
  }
}

@media (max-width: 479px) {
  .footer {
    align-items: flex-start;
    margin: 0;
    padding: 0 16px 24px;
  }
}
