.place__url-heading {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  color: #aaa;
  margin: 0;
  margin-bottom: 12px;
}

@media (max-width: 767px) {
  .place__url-heading {
    display: none;
  }
}
